.container {
  padding: 24px;
  line-height: 2;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 24px;
}

.teachingPlanH1,
.teachingPlanH2,
.teachingPlanH3,
.teachingPlanH4,
.teachingPlanH5,
.teachingPlanH6 {
  font-family: var(--standard-page-title-font-family);
  font-weight: bold;
  color: var(--text-dark);
}

.teachingPlanH1 {
  font-size: var(--title-size);
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.teachingPlanH2 {
  font-size: var(--section-title-size);
}

.teachingPlanH2,
.teachingPlanH3,
.teachingPlanH4,
.teachingPlanH5,
.teachingPlanH6 {
  color: var(--tpm-primary);
  position: relative;
  padding-left: 15px;
}

.teachingPlanH2::before,
.teachingPlanH3::before,
.teachingPlanH4::before,
.teachingPlanH5::before,
.teachingPlanH6::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 5px;
  height: 80%;
  background-color: #FFD166;
  border-radius: 5px;
}

.teachingPlanH3 {
  font-size: 1.17em;
}

@media (max-width: 768px) {
  .teachingPlanH1 {
    font-size: 2rem;
  }

  .teachingPlanH2 {
    font-size: 1.5rem;
  }
}

.checkAnswersContainer {
  padding-left: 8px;
}

.highlight {
  background-color: #FFD166;
  padding: 3px 6px;
  border-radius: 4px;
  font-weight: bold;
  color: #2D3748;
}

.hard {
  background-color: rgba(255, 107, 107, 0.2);
  padding: 3px 6px;
  border-radius: 4px;
  font-weight: bold;
  color: #2D3748;
  border: 1px dashed #FF6B6B;
}

@media (min-width: 48rem) {
  .container {
    padding: 30px;
    gap: 30px;
  }
}

@media (min-width: 64rem) {
  .container {
    padding: 30px 100px;
  }
}