@keyframes float {

  0%,
  100% {
    transform: translateY(-10px);
  }

  50% {
    transform: translateY(10px);
  }
}

.floating {
  animation: float 3s ease-in-out infinite;
}

.conanContainer {
  display: flex;
  justify-content: center;
  position: relative;
}

.lpImg {
  border-radius: 50%;
  width: 180px;
  border: 1px solid var(--tpm-primary);
  transition: all 0.3s ease;
}

.lpImg:hover {
  transform: rotate(5deg) var(--hover-scale);
}