.teachingPlanSection {
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: #82CDE6;
  border-radius: 16px;
  padding: 24px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;

  &>p {
    color: var(--primary);
    font-weight: bold;
  }
}

.teachingPlanSection {

  ul,
  ol {
    li {
      position: relative;
    }
  }

  ul {
    padding-left: 20px;

    &>li::before {
      content: "";
      position: absolute;
      left: -16px;
      top: 50%;
      transform: translateY(-50%);
      width: 6px;
      height: 6px;
      background: var(--primary);
      border-radius: 50%;
    }
  }

  ol {
    padding-left: 24px;

    &>li {
      counter-increment: hans7-section-counter;
    }

    &>li::before {
      content: counter(hans7-section-counter) ".";
      position: absolute;
      left: -24px;
      top: 0;
      color: var(--primary);
      font-weight: bold;
      border-radius: 50%;
    }
  }
}