.navbar {
  background: var(--navbar-bg);
}

.logoIcon {
  animation: shake 2s infinite;
}

.logoText {
  letter-spacing: 1px;
  position: relative;
  animation: shake 2s infinite;
}

@keyframes shake {

  0%,
  100% {
    transform: scale(0.97);
  }

  50% {
    transform: scale(1.03);
  }
}

.linkBtn {
  position: relative;
  overflow: hidden;
}