.tpm-markdown-container {

  [class^="_teachingPlanH1"] {
    margin-bottom: 20px;
  }

  [class^="_teachingPlanH2"] {
    margin-bottom: 16px;
  }

  [class^="_teachingPlanH3"],
  [class^="_teachingPlanH4"],
  [class^="_teachingPlanH5"],
  [class^="_teachingPlanH6"] {
    margin-bottom: 8px;
  }

  a {
    color: var(--tpm-color-link);
  }

  a:hover {
    color: var(--tpm-color-link-hover);
  }

  table {
    table-layout: auto;
    margin: 16px 0;

    tr {
      border-bottom: 1px solid var(--color-gray-200);

      th,
      td {
        padding: 8px 12px;
      }

      th:hover,
      td:hover {
        background-color: var(--color-sky-100);
      }
    }
  }
}