@use 'ulOlCommon' as *;

.tpm-markdown-container {
  a {
    color: var(--tpm-color-link);
  }

  a:hover {
    color: var(--tpm-color-link-hover);
  }

  table {
    border: 1px solid var(--tw-prose-td-borders);

    tr {

      th,
      td {
        padding: 8px 12px;
        border: 1px solid var(--tw-prose-td-borders);
      }

      th {
        display: table-cell;
        vertical-align: inherit;
        font-weight: bold;
        text-align: center;
        unicode-bidi: isolate;
      }

      td {
        display: table-cell;
        vertical-align: inherit;
        unicode-bidi: isolate;
      }

      th:hover,
      td:hover {
        background-color: var(--table-cell-hover-bg);
      }
    }
  }

  @extend %ul-ol-common;
}