.quizContainer {
  background: var(--tpm-card-bg);
  border-radius: 16px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.question {
  display: flex;
  align-items: baseline;
  gap: 8px;
  font-weight: bold;
}

.questionArea {
  flex: 1;
}

.options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

@media (max-width: 768px) {
  .options {
    grid-template-columns: 1fr;
  }
}

.option {
  background: #82CDE6;
  padding: 12px;
  border-radius: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 2px solid transparent;
  display: flex;
  gap: 8px;
}

.option:hover {
  background-color: var(--tpm-btn-primary-hover-bg);
  color: white;
  transform: translateY(-3px);
}

.option.selected {
  background-color: var(--tpm-btn-primary-bg);
  color: white;
}

.feedback {
  padding: 12px;
  border-radius: 16px;
  font-weight: bold;
  display: flex;
  align-items: baseline;
  gap: 8px;
}

.feedback.correct {
  background: var(--quiz-correct-feedback-bg);
  color: var(--quiz-correct-feedback-color);
}

.feedback.incorrect {
  background: var(--quiz-incorrect-feedback-bg);
  color: var(--quiz-incorrect-feedback-color);
}

.explanationArea {
  flex: 1;
}