.tpButton {
  background-color: var(--tpm-btn-primary-bg);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 16px;
  font-family: 'Zhan Ku Kuai Le Ti', 'Nunito', sans-serif;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.tpButton:hover {
  background-color: var(--tpm-btn-primary-hover-bg);
  transform: translateY(-3px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}